name: Sync to BitBucket

on: [push]

jobs:
  sync:
    if: ${{ github.repository_owner == 'The-Cat-Town-Craft' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Sync to BitBucket
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: git@bitbucket.org:the-cat-town-craft/carpet-tctc-addition.git
          ssh_private_key: ${{ secrets.BITBUCKET_SSH_PRIVATE_KEY }}
